@font-face {
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(tt-norms/TT-Norms-Pro-Thin.woff) format('woff');
  }

  @font-face {
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(tt-norms/TT-Norms-Pro-ExtraLight.woff) format('woff');
  }


  @font-face {
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(tt-norms/TT-Norms-Pro-Light.woff) format('woff');
}

@font-face {
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(tt-norms/TT-Norms-Pro-Regular.woff) format('woff');
}

@font-face {
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(tt-norms/TT-Norms-Pro-Medium.woff) format('woff');
}


@font-face {
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(tt-norms/TT-Norms-Pro-Bold.woff) format('woff');
}

@font-face {
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(tt-norms/TT-Norms-Pro-ExtraBold.woff) format('woff');
}

@font-face {
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(tt-norms/TT-Norms-Pro-Black.woff) format('woff');
}

@font-face {
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 950;
    font-display: swap;
    src: url(tt-norms/TT-Norms-Pro-ExtraBlack.woff) format('woff');
}